@import '../helpers/_variables.scss';
@import '../components/_table-pagination.scss';


.marginL{
  margin-left: 10px;
}
.marginR{
  margin-right: 10px;
}
.text-danger{
  line-height: 32px;
}
.lineH{
  line-height: 25px;
}
input.has-error,select.has-error{
  border:1px solid #ff0000;
}
input.has-success,select.has-success{
  border:1px solid #e0e0e0;
}


.pagination.select {

    margin-left: 5px;
    margin-top: 2px;

}