@import '../helpers/_variables.scss';
@import '../components/_table-pagination.scss';


.marginL{
  margin-left: 10px;
}
.marginR{
  margin-right: 10px;
}
.text-danger{
  line-height: 32px;
}
.lineH40{
  line-height: 40px;
}
.border0{
  border:0!important;
}
.paddingT0{
  padding-top: 0!important;
}
.H300{
  height: 300px;
}