@import '../helpers/_variables.scss';


.marginL{
  margin-left: 10px;
}
.marginR{
  margin-right: 10px;
}
.text-danger{
  line-height: 32px;
}
.lineH40{
  line-height: 40px;
}
.border0{
  border:0!important;
}
.paddingT0{
  padding-top: 0!important;
}
.H300{
  height: 300px;
}
.goods{
  width: 162px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid #dde6e9;
  padding-left: 10px;
  font-size: 16px;
}
.positionR{
  position: relative;
}
.positionA{
  position: absolute;
  left:56%;
  top: 10px;
}
.contract-table{

  th {
    width: 200px;
  }

  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.search-select {
  width:162px !important;
}

.contract-type-select {
  margin-top: 10px;
  width:150px !important;
}